@media (min-width: 1440px) {
  html,body{
    margin:0;
    padding:0;
  }
  .big-div {
    border:black;
    border-style: solid;
    margin:auto;
    width:1400px;
    background-color:  rgb(101, 144, 194);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color:rgb(175, 42, 187);
  }

    .goals-div{
     width:600px;
     height: 300px;
    margin: auto;
    border: black;
    border-style: solid;
    padding:2%;
    font-size:1em;
    font-weight: bolder;
    }
    .menu{
      border:black;
      border-style:solid;
      width:100px;
      font-size: 0.4em;;
      padding:2%;
      color:black; 
    }
    .submit-button{
      margin:auto;
      border:black;
      border-style:solid;
      width:150px;
      font-size: 0.4em;
      padding:2%;
      color:black
    }
    .box{
      margin: auto;
      border: black;
      border-style: solid;
      width:1200px;
      font-size: 1.25em;

    }
    .buttonTrue{
      background-color: green;

    }

}

@media (max-width: 1439px) {
  .big-div {
    border:black;
    border-style: solid;
    margin:auto;
    width:900px;
    background-color:grey;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color:black; 
  }

  .goals-div{
  width:600px;
  height:300px;
  margin: auto;
  border: black;
  border-style: solid;
  padding:2%;
  font-size:.75 ;
  }
  .box{
    margin: auto;
    border: black;
    border-style: solid;
    width:600px;
    font-size:.8em;

  }
  .buttonTrue{
    background-color: green;

  }

}
@media (max-width: 768px) {
  .big-div {
    border:black;
    border-style: solid;
    margin:auto;
    width:500px;
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color:rgb(175, 42, 187);
  }

    .goals-div{
      width:150px;
      height: 100px;
    margin: auto;
    border: black;
    border-style: solid;
    padding:2%;
    font-size:.5em;
    font-weight: bolder;
    }
    .menu{
      border:black;
      border-style:solid;
      width:100px;
      font-size: 0.4em;;
      padding:2%;
      color:black; 
    }
    .submit-button{
      margin:auto;
      border:black;
      border-style:solid;
      width:150px;
      font-size: 0.4em;
      padding:2%;
      color:black
    }
    .box{
      margin: auto;
      border: black;
      border-style: solid;
      width:250px;
      font-size:0.7em;


    }
    .buttonTrue{
      background-color: green;

    }

}