.overview-div{
  width: 500px;
  display:inline-grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  column-gap: 20px;
}

.buttonTrue{
  background-color: green;
  color:black;

}

.buttonFalse{
  background-color: grey;

}