@media (min-width: 1440px) {
    html,body{
      margin:0;
      padding:0;
    }
    .main {
      border:black;
      border-style: solid;
      margin:auto;
      width: 1400px;
      background-color: rgb(101, 144, 194);
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      color:rgb(175, 42, 187);
    }
  header{
      font-size: 40px;
  }

    .box-div{
      width: 1400px;
      background-color:grey;
      margin:1em;
      padding:1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      border: black;
      border-style: solid;
      column-gap: 10px;
      row-gap: 10px;
      font-size: .8em;
      }
  
      .label-div{
        margin: auto;
        border: black;
        border-style: solid;
        padding:2%;
        width:250px;
        height:250px;
        font-size:0.75em;
      }
      .submit-button{
        margin:auto;
        border:black;
        border-style:solid;
        width:350px;
        font-size: 0.4em;
        padding:2%;
        color:black
      }
  
  }
  
  @media (max-width: 1439px) {
    .main {
      border:black;
      border-style: solid;
      margin:auto;
      width:900px;
      background-color: grey;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      color:rgb(175, 42, 187);
    }
    .box-div{
    width: 500px;
    background-color: grey;
    margin:1em;
    padding:1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: black;
    border-style: solid;
    column-gap: 6px;
    row-gap: 6px;
    }
    .label-div{
        width:200px;
        height: 150px;
    margin: auto;
    border: black;
    border-style: solid;
    padding:2%;
    font-size:0.75em ;
    }
    .submit-button{
      margin:auto;
      border:black;
      border-style:solid;
      width:250px;
      font-size: 0.4em;
      padding:2%;
      color:black
    }

  
  
  }
  @media (max-width: 768px) {
    .main {
      border:black;
      border-style: solid;
      margin:auto;
      width:500px;
      background-color: rgb(184, 179, 179);
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: .75em;
      color:rgb(175, 42, 187);
    }
    header{
      padding:2%;
  
    }
    .box-div{
      width: 300px;
      background-color: grey;
      margin:1em;
      padding:1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: black;
      border-style: solid;
      column-gap: 3px;
      row-gap: 3px;
      }
      .label-div{
      width:150px;
      height: 100px;
      margin: auto;
      border: black;
      border-style: solid;
      padding:2%;
      font-size:.5em ;
      }
      .submit-button{
        margin:auto;
        border:black;
        border-style:solid;
        width:150px;
        font-size: 0.4em;
        padding:2%;
        color:black
      }
  
  
  }